<% flash.each do |key, value| %>
  <div class="flash">
    <%= content_tag :div, value, class: "flash__message flash__message--#{key}" %>
  </div>
<% end %>

<div class="list-group panel">
  <a href="/" class="list-group-item col-xs-5 col-md-12 collapsed" data-parent="#sidebar" id="logo-pic">
    <%= image_tag("logo_a.png")%>
  </a>
  <div class="menu-list col-xs-7 col-md-12">
    <%= link_to 'A / Z .', alphabet_path,
                class: "list-group-item collapsed #{params[:action] == 'alphabet' ? 'active' : ''}" %>
    <%= link_to 'GREATEST HITS .', hits_path,
                class: "list-group-item collapsed #{params[:action] == 'hits' ? 'active' : ''}" %>
    <%= link_to 'BEST OF .', best_path,
                class: "list-group-item collapsed #{params[:action] == 'best' ? 'active' : ''}" %>
  </div>
  <div class="social-icons col-xs-5 col-md-12">
    <ul class="social-icons-list">
      <li><%= link_to image_tag("random_c.png"), root_path,
                      class: "list-group-item collapsed" %></li>
      <li><%= link_to image_tag("tw_a.png"), 'https://twitter.com/microPOP_',
                      class: "list-group-item collapsed", target: "_blank" %></li>
      <li><%= link_to image_tag("in_a.png"), 'https://www.instagram.com/microPOP__/',
                      class: "list-group-item collapsed", target: "_blank" %></li>
      <li><%= link_to image_tag("fb_a.png"), 'https://www.facebook.com/somosmicropop/',
                      class: "list-group-item collapsed", target: "_blank" %></li>
    </ul>
  </div>
</div>
