<div class="form-group">
  <%= f.label :fragment %>
  <%= f.text_field :fragment, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :image, 'Image' %>
  <%= image_tag f.object.image.admin_thumb.url if f.object.image? %>
  <%= f.file_field :image, class: 'form-control' %>
  <%= f.hidden_field :image_cache %>
  <% if f.object.image? %>
      <%= f.label 'Remove image' %>
      <%= f.check_box :remove_image %>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :song %>
  <%= f.collection_select :song_id,
                          Song.order(:title),
                          :id,
                          :title,
                          { prompt: 'Select one...' },
                          class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :tags %>
  <%= f.select :tags,
               options_from_collection_for_select(
                 Tag.all,
                 :id,
                 :name,
                 { selected: f.object.tag_ids }
               ),
               {},
               {
                 multiple: true,
                 size: Tag.all,
                 name: 'poem[tag_ids][]',
                 class: 'form-control multiple_selector'
               } %>
</div>
